<% if driver_signed_in? %>
    <%= link_to "Sign out", destroy_driver_session_path, method: :delete %>
    <div ng-app="taxi">
    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>
    </div>
<% else %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.label :phone, 'Номер телефона' %><br /> 
      <input type="text" pattern="[0-9]*" placeholder="0987654321" 
      <%= f.text_field :phone, autofocus: true %> 
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <%= f.label :password, 'Пароль' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="col-sm-4 col-sm-offset-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'запомнить меня' %>
      </div>
    <% end -%>

    <div class="col-sm-4 col-sm-offset-4">
      <%= f.submit "Войти" %>
    </div>
  <% end %>

  <%= render "drivers/shared/links" %>
<% end %>
