<%= link_to "Sign out", destroy_driver_session_path, method: :delete %>
<!-- <div ng-app="taxi">
<div class="view-container">
  <div ng-view class="view-frame animate-view"></div>
</div>
</div> -->

<p> <% @orders.each do |f| %> </p>
	Start_point: <%= f.start_point %> </br>
	End_point: <%= f.end_point %>	</br>
	Passengers: <%= f.passengers %>	</br>
	Baggage: <%= f.baggage %>	</br>
	Phone: <%= f.phone %>	</br>
	Comment: <%= f.comment %>	</br>
<% end %>