<!DOCTYPE html>
<html>
  <head>
    <title>SlobodaTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <div align="right">
    <% if current_dispatcher.present? %>
      <%= link_to('Sign out as a dispatcher', destroy_dispatcher_session_path, :method => :delete) %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>