<!DOCTYPE html>
<html>
<head>
  <title>sloboda-supersonic-taxi</title>
  <meta charset="utf-8">
  <base href='/' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if driver_signed_in? %>
    <%= link_to "Sign out as a driver", destroy_driver_session_path, method: :delete %>
  <% else %>
     <%= link_to "Sign in as a driver", new_driver_session_path %> 
  <% end %>

  <div align="right">
      <% if current_dispatcher.present? %>
        <%= link_to('Sign out', destroy_dispatcher_session_path, :method => :delete) %>
      <% else %>
        <%= link_to 'Sign up', new_dispatcher_registration_path %> / <%= link_to 'Sign in', new_dispatcher_session_path %>
      <% end %>
  </div>

  <%= yield %>
   
</body>
</html>

