<!DOCTYPE html>
<html>
  <head>
    <title>SlobodaTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<div align="right">
		  <% if current_dispatcher.present? %>
        <%= link_to('Sign out', destroy_dispatcher_session_path, :method => :delete) %>
		  <% else %>
		  	<%= link_to 'Sign up', new_dispatcher_registration_path %> / <%= link_to 'Sign in', new_dispatcher_session_path %>
		  <% end %>
	</div>

  <body>
    <%= yield %>
  </body>
</html>